@{
    ViewBag.Title = "DemoValidateForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DemoValidateForm</h2>
<div ng-app="app" ng-controller="validForm" style="margin-left:100px;">
    <form name="form" novalidate>
        <table>
            <tr>
                <td>
                    <label>Old password</label>
                </td>
                <td>
                    <input ng-model="oldPassword" type="password" name="oldpassword" ng-minlength="6" placeholder="password" required />
                </td>
                <td>
                    <div ng-show="form.oldpassword.$touched && form.oldpassword.$error.required">
                        Field required!
                    </div>
                    <div ng-show="form.oldpassword.$touched && form.oldpassword.$error.minlength">
                        At least 6 characters
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>New password</label>
                </td>
                <td>
                    <input data-ng-model='user.password' type="password" name='password' ng-minlength="6" placeholder='new password' required>
                </td>
                <td>
                    <div ng-show="form.password.$touched && form.password.$error.required">
                        Field required
                    </div>
                    <div ng-show="form.password.$touched && form.password.$error.minlength">
                        At least 6 characters
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm password</label>
                </td>
                <td>
                    <input ng-model='user.password_verify' type="password" name='confirm_password' ng-minlength="6" placeholder='confirm password' required data-password-verify="user.password">
                </td>
                <td>
                    <div ng-show="form.confirm_password.$touched && form.confirm_password.$error.required">
                        Field required!
                    </div>
                    <div ng-show="form.confirm_password.$touched && form.confirm_password.$error.minlength">
                        At least 6 characters
                    </div>
                    <div ng-show="form.confirm_password.$error.passwordVerify">
                        Fields are not equal!
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ng-click="submit();" ng-disabled="form.$invalid">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<style>
    td {
        padding: 5px;
    }
</style>
<script>
    var app = angular.module('app', []);
    app.directive("passwordVerify", function () {
        return {
            require: "ngModel",
            scope: {
                passwordVerify: '='
            },
            link: function (scope, element, attrs, ctrl) {
                scope.$watch(function () {
                    var combined;

                    if (scope.passwordVerify || ctrl.$viewValue) {
                        combined = scope.passwordVerify + '_' + ctrl.$viewValue;
                    }
                    return combined;
                }, function (value) {
                    if (value) {
                        ctrl.$parsers.unshift(function (viewValue) {
                            var origin = scope.passwordVerify;
                            if (origin !== viewValue) {
                                ctrl.$setValidity("passwordVerify", false);
                                return undefined;
                            } else {
                                ctrl.$setValidity("passwordVerify", true);
                                return viewValue;
                            }
                        });
                    }
                });
            }
        };
    });
    app.controller('validForm', function ($scope) {
        $scope.submit = function () {
            alert("Submit");
        }
    });

</script>