@{
    ViewBag.Title = "TestChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestChangePassword</h2>
<center ng-app="app" ng-controller="validForm">
    <form name="form" novalidate>
        <table>
            <tr>
                <td>
                    <label>Old password</label>
                </td>
                <td>
                    <input ng-model="user.oldPassword" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label>New password</label>
                </td>
                <td>
                    <input ng-model='user.newPassword' placeholder='password' required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm password</label>
                </td>
                <td>
                    <input ng-model='user.confirmPassword' placeholder='confirm password' required data-password-verify="user.newPassword">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ng-click="submit();">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</center>
<style>
    td {
        padding: 5px;
    }
</style>
<script>
    var app = angular.module('app', []);
    app.controller('validForm', function ($scope, $http) {
        $scope.submit = function () {
            var model = new PasswordModel($scope.user.oldPassword, $scope.user.newPassword, $scope.user.confirmPassword);
            $http({
                method: 'POST',
                data: model,
                url: '/api/Account/ChangePassword'
            }).success(function () {
                alert("OK");
            }).error(function () {
                alert("Error");
            })
        }
    });

    function PasswordModel(oldPassword, newPassword, confirmPassword) {
        this.OldPassword = oldPassword;
        this.NewPassword = newPassword;
        this.ConfirmPassword = confirmPassword;
    }
</script>
