<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>VMS - Mobifone</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="description" content="Fusion - A Responsive HTML5 Admin UI Template Theme">
    <meta name="author" content="AdminDesigns">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/bootstrap/css")
    <!-- Required Plugin CSS
    <link rel="stylesheet" type="text/css" href="vendor/plugins/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="vendor/plugins/datatables/css/datatables.min.css">
    -->
    <!-- Theme CSS -->
    @Styles.Render("~/Content/Themes/css")
    @Scripts.Render("~/Content/Themes/js")
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body class="dashboard-page">
    <script> var boxtest = localStorage.getItem('boxed'); if (boxtest === 'true') { document.body.className += ' boxed-layout'; } </script>
    <!-- Start: Theme Preview Pane -->
    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-branding"> <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span><a class="navbar-brand" href="dashboard.html"><img src="img/logos/header-logo.png"></a> </div>
        <div class="navbar-right">
            <div class="navbar-menus">
                <div class="btn-group" id="alert_menu">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicons glyphicons-bell"></span> <b>3</b> </button>
                    <ul class="dropdown-menu media-list" role="menu">
                        <li class="dropdown-header">Recent Alerts<span class="pull-right glyphicons glyphicons-bell"></span></li>
                        <li class="p15 pb10">
                            <ul class="list-unstyled">
                                <li><span class="glyphicons glyphicons-bell text-orange2 fs16 mr15"></span><b>CEO</b> lunch meeting Tuesday</li>
                                <li class="pt10"><span class="glyphicons glyphicons-facebook text-blue2 fs16 mr15"></span>Facebook likes are at <b>4,100</b></li>
                                <li class="pt10"><span class="glyphicons glyphicons-paperclip text-teal2 fs16 mr15"></span>Mark <b>uploaded</b> 3 new Docs</li>
                                <li class="pt10"><span class="glyphicons glyphicons-gift text-purple2 fs16 mr15"></span>It's <b>Marks</b> 34th Birthday</li>
                                <li class="pt10"><span class="glyphicons glyphicons-cup text-red2 fs16 mr15"></span>Best new employee awarded to <b>Jessica</b></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" id="comment_menu">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicons glyphicons-display"></span> <b>7</b> </button>
                    <div class="dropdown-menu" role="menu">
                        <ul class="nav nav-tabs tabs-border-bottom" role="tablist">
                            <li class="active"><a href="#header_tab1" role="tab" data-toggle="tab">Messages</a></li>
                            <li><a href="#header_tab2" role="tab" data-toggle="tab">Tickets</a></li>
                            <li><a href="#header_tab3" role="tab" data-toggle="tab">Todo List</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content pn border-none dropdown-persist">
                            <div class="tab-pane active" id="header_tab1">
                                <div class="dropdown-submenu dropdown-persist">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <input class="dropdownSearch" type="text" placeholder="Search...">
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="cBox cBox-inline ml20">
                                                <input type="checkbox" id="headercBox1" name="check" value="None" />
                                                <label for="headercBox1">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p15">
                                    <div class="media border-none">
                                        <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/2.jpg" alt="..."> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mbn">Simon Rivers <small class="text-light5"> - 3 hours ago</small></h5>
                                            <p class="text-muted"> Hey Louis, I was wondering if</p>
                                        </div>
                                    </div>
                                    <div class="media mt10 border-none">
                                        <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded border-online" src="img/avatars/6.jpg" alt="..."> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mbn">Tracy Rope <small class="text-light5"> - 8 hours ago</small></h5>
                                            <p class="text-muted"> Bam baby get at, I was</p>
                                        </div>
                                    </div>
                                    <div class="media mt10 border-none">
                                        <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded border-online" src="img/avatars/8.jpg" alt="..."> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mbn">Courtney Dash <small class="text-light5"> - 3 days ago</small></h5>
                                            <p class="text-muted"> I was wonde awesome brief </p>
                                        </div>
                                    </div>
                                    <div class="media mt10 border-none">
                                        <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded border-light5" src="img/avatars/2.jpg" alt="..."> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading mbn">Simon Rivers <small class="text-light5"> - 3 hours ago</small></h5>
                                            <p class="text-muted mbn"> Hey Louis, I was wondering </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="header_tab2">
                                <div class="dropdown-submenu dropdown-persist">
                                    <div class="cBox cBox-inline cBox-orange ml15 p1">
                                        <input type="checkbox" id="headercBox2" name="check" value="None" />
                                        <label for="headercBox2">Closed</label>
                                    </div>
                                    <div class="cBox cBox-inline cBox-purple">
                                        <input type="checkbox" id="headercBox3" name="check" value="None" />
                                        <label for="headercBox3">Low</label>
                                    </div>
                                    <div class="cBox cBox-inline cBox-blue">
                                        <input type="checkbox" id="headercBox4" name="check" value="None" />
                                        <label for="headercBox4">Med</label>
                                    </div>
                                    <div class="cBox cBox-inline cBox-red2 cBox-gradient">
                                        <input type="checkbox" id="headercBox5" name="check" value="None" checked />
                                        <label for="headercBox5">Urgent</label>
                                    </div>
                                </div>
                                <div class="sortable mt10 mb10">
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #1]</b> - Validation Errors <small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #2]</b> - User Profile Debug<small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #3]</b> - User hacked <small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #4]</b> - Mailbox Debug <small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #5]</b> - User Profile Debug<small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #6]</b> - User Profile Debug<small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                    <div class="todo-item table-layout p8">
                                        <div class="todo-handle va-m">
                                            <div class="v-handle"></div>
                                        </div>
                                        <div class="todo-body va-m"><b class="text-muted">[Ticket #7]</b> - User Profile Debug<small class="text-blue2"> [read more..]</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="header_tab3">
                                <div class="dropdown-submenu dropdown-persist">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input class="dropdownSearch" type="text" placeholder="Create New Item...">
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-item table-layout">
                                    <div class="ticket-handle va-m">
                                        <div class="cBox ml10">
                                            <input type="checkbox" id="headercBox7" name="check" value="None" />
                                            <label for="headercBox7"></label>
                                        </div>
                                    </div>
                                    <div class="ticket-body p10 va-m"><b class="text-muted">[#2]</b> - IE8 Profile Drag Errors <span class="label label-sm bg-grey2 ml10">Javascript</span></div>
                                </div>
                                <div class="ticket-item table-layout">
                                    <div class="ticket-handle va-m">
                                        <div class="cBox ml10">
                                            <input type="checkbox" id="headercBox6" name="check" value="None" />
                                            <label for="headercBox6"></label>
                                        </div>
                                    </div>
                                    <div class="ticket-body p10 va-m"><b class="text-muted">[#1]</b> - Validation Errors on USCM testing facitiliy <small class="text-red2">- Urgent</small></div>
                                </div>
                                <div class="ticket-item table-layout">
                                    <div class="ticket-handle va-m">
                                        <div class="cBox ml10">
                                            <input type="checkbox" id="headercBox9" name="check" value="None" />
                                            <label for="headercBox9"></label>
                                        </div>
                                    </div>
                                    <div class="ticket-body p10 va-m"><b class="text-muted">[#4]</b> - CSS Problems with Tables <span class="label label-sm bg-orange2 ml10">CSS</span></div>
                                </div>
                                <div class="ticket-item table-layout">
                                    <div class="ticket-handle va-m">
                                        <div class="cBox ml10">
                                            <input type="checkbox" id="headercBox10" name="check" value="None" />
                                            <label for="headercBox10"></label>
                                        </div>
                                    </div>
                                    <div class="ticket-body p10 va-m"><b class="text-muted">[#5]</b> - PHP Form validation errors occuring on email page<span class="label label-sm bg-purple2 ml10">PHP</span></div>
                                </div>
                                <div class="ticket-item table-layout">
                                    <div class="ticket-handle va-m">
                                        <div class="cBox ml10">
                                            <input type="checkbox" id="headercBox8" name="check" value="None" />
                                            <label for="headercBox8"></label>
                                        </div>
                                    </div>
                                    <div class="ticket-body p10 pb15 va-m"><b class="text-muted">[#3]</b> - Mailbox Validation Errors on Firefox</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group" id="toggle_sidemenu_r">
                    <button type="button"> <span class="glyphicons glyphicons-parents"></span> </button>
                </div>
            </div>
        </div>
    </header>

    <!-- Start: Main -->
    <div id="main">

        <!-- Start: Sidebar -->
        <aside id="sidebar_left">
            <div class="user-menu">
                <div class="row text-center mb15">
                    <div class="col-xs-4">
                        <a href="dashboard.html">
                            <span class="glyphicons glyphicons-home fs22 text-blue2"></span>
                            <h5 class="fs11">Home</h5>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="messages.html">
                            <span class="glyphicons glyphicons-inbox fs22 text-orange2"></span>
                            <h5 class="fs11">Inbox</h5>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="tables.html">
                            <span class="glyphicons glyphicons-bell fs22 text-purple2"></span>
                            <h5 class="fs11">Data</h5>
                        </a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4 text-center">
                        <a href="timeline.html">
                            <span class="glyphicons glyphicons-imac fs22 text-grey3"></span>
                            <h5 class="fs11">Views</h5>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="profile.html">
                            <span class="glyphicons glyphicons-settings fs22 text-green2"></span>
                            <h5 class="fs11">Settings</h5>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="gallery.html">
                            <span class="glyphicons glyphicons-restart fs22 text-light6"></span>
                            <h5 class="fs11">Images</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="nav">
                    <li> <a href="#" class="ajax-disable"><span class="glyphicons glyphicons-eyedropper"></span> <span class="sidebar-title">Lịch công tác</span> <span class="sidebar-title-tray"> <span class="label label-xs bg-purple2">New</span> </span> </a> </li>
                    <li> <a href="#" class="ajax-disable"><span class="glyphicons glyphicons-inbox"></span><span class="sidebar-title">Quản lý công việc</span></a> </li>
                    <li class="active"> <a href="#"><span class="glyphicons glyphicons-home"></span><span class="sidebar-title">Tin tức</span></a> </li>
                </ul>
            </div>
        </aside>

        <!-- Start: Content -->
        <section id="content_wrapper">
            <div id="content">
                @RenderBody()
            </div>
        </section>

        <!-- Start: Right Sidebar -->
        <aside id="sidebar_right">
            <div class="sidebar-right-header">
                <div class="pull-right posr">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-circle text-orange2 fs8"></i> <span class="caret text-muted"></span> </a>
                    <ul class="dropdown-menu dropdown-sm" role="menu">
                        <li class="menu-arrow">
                            <div class="menu-arrow-up"></div>
                        </li>
                        <li><a href="javascript:void(0);"><i class="fa fa-circle text-green2 pr5"></i> Online</a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-circle text-red2 pr5"></i> Busy</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-circle text-orange2 pr5"></i> Away</a></li>
                    </ul>
                </div>
                <div class="media mtn">
                    <a class="pull-left mt5" href="#"> <img class="thumbnail thumbnail-sm rounded" src="img/avatars/2.jpg" alt="..."> </a>
                    <div class="media-body">
                        <h5 class="small mt5 mbn text-cloud"><b>Current Status:</b></h5>
                        <h5 class="small text-white"><b>"Away: Lunch meeting"</b></h5>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!-- End #Main -->
    <!-- Google Map API -->

    <!-- Theme Javascript -->

    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Enable Ajax Loading
            Ajax.init();

            // Dashboard Widgets Slidedown

        });
    </script>
</body>
</html>
